In [1]:
import pandas as pd
import json

In [2]:
actor_genre = {}

In [4]:
with open("imdb_movies_2000to2022.prolific.json", "r") as IMDB_file:
    for line in IMDB_file:
        movie = json.loads(line)
        genres = movie['genres']
        actors = movie['actors']
        for actor_id, actor_name in actors:
            if not actor_id in actor_genre:
                actor_genre[actor_id] = {}
            for genre in genres:
                if genre not in actor_genre[actor_id]:
                    actor_genre[actor_id][genre] = 0
                actor_genre[actor_id][genre] += 1
                # add a name of the actor
                # map actor id and actor name to be able to display the names in the end

In [9]:
print(list(actor_genre.items())[:1])

[('nm0000212', {'Comedy': 7, 'Fantasy': 1, 'Romance': 6, 'Drama': 6, 'Mystery': 1, 'Thriller': 2, 'Action': 1, 'Biography': 1, 'Crime': 2, 'War': 1})]

In [11]:
actor_genre['nm1165110']

{'Action': 17,
 'Fantasy': 2,
 'Adventure': 10,
 'Comedy': 3,
 'Crime': 3,
 'Thriller': 4,
 'Drama': 7,
 'Horror': 1,
 'Mystery': 1,
 'Biography': 2,
 'History': 1,
 'Sci-Fi': 2}

In [12]:
index = actor_genre.keys()
rows = [actor_genre[k] for k in index]
df = pd.DataFrame(rows,index=index)
df

,Comedy,Fantasy,Romance,Drama,Mystery,Thriller,Action,Biography,Crime,War,...,Horror,Documentary,Sport,News,Family,Music,,Western,Short,Reality-TV
nm0000212,7.0,1.0,6.0,6.0,1.0,2.0,1.0,1.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nm0413168,7.0,3.0,5.0,12.0,5.0,2.0,14.0,4.0,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nm0000630,8.0,2.0,6.0,14.0,2.0,3.0,4.0,5.0,1.0,1.0,...,3.0,7.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
nm0005227,10.0,1.0,2.0,2.0,NaN,1.0,1.0,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN
nm0864851,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
nm9504284,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nm10592896,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nm7216750,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nm0936300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nm10375007,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
query_actor_id = "nm1165110"

In [14]:
df = df.fillna(0)

In [1]:
from scipy.sparse import lil_matrix
import scipy.spatial.distance
target_actor = df.loc[query_actor_id]

NameError: name 'df' is not defined

In [16]:
target_actor

Comedy          3.0
Fantasy         2.0
Romance         0.0
Drama           7.0
Mystery         1.0
Thriller        4.0
Action         17.0
Biography       2.0
Crime           3.0
War             0.0
Adventure      10.0
Sci-Fi          2.0
Animation       0.0
Musical         0.0
History         1.0
Horror          1.0
Documentary     0.0
Sport           0.0
News            0.0
Family          0.0
Music           0.0
                0.0
Western         0.0
Short           0.0
Reality-TV      0.0
Name: nm1165110, dtype: float64

In [19]:
distances = scipy.spatial.distance.cdist(df,[target_actor], metric="euclidean").flatten()

In [21]:
distances[:5]

array([20.5669638 , 13.96424004, 20.83266666, 20.4450483 , 21.86321111])

In [22]:
query_distances = list(zip(df.index, distances))

In [23]:
query_distances[:5]

[('nm0000212', np.float64(20.566963801203133)),
 ('nm0413168', np.float64(13.96424004376894)),
 ('nm0000630', np.float64(20.83266665599966)),
 ('nm0005227', np.float64(20.445048300260872)),
 ('nm0864851', np.float64(21.863211109075447))]

In [25]:
for similar_actor_id, similar_genre_score in sorted(query_distances,key=lambda x:x[1])[:11]:
    print(similar_actor_id, similar_genre_score)

nm1165110 0.0
nm0000129 5.477225575051661
nm0147147 8.246211251235321
nm0879085 8.831760866327848
nm0089217 9.055385138137417
nm0004874 9.219544457292887
nm0001401 9.219544457292887
nm0001600 9.591663046625438
nm0001472 9.591663046625438
nm0001092 9.797958971132712
nm0001444 10.04987562112089